:root {
    /* font colors */
    --font-color-1: white;
    --font-color-2: #355592;
    --font-color-3: black;

    /* background colors */
    --bg-color-1: white;
    --bg-color-2: #ec9b00;
    --bg-color-3: #355592;
    --bg-color-4: #f2f8ff;
    --bg-color-5: #f6f6f6;
    --bg-color-6: rgba(0, 0, 0, 0.7);

    /* border colors */
    --border-color-1: white;
    --border-color-2: black;
    --border-color-3: #ec9b00;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html {
    overflow-x: hidden;
}

body {
    background-color: var(--bg-color-1);
    color: var(--font-color-3);
}

/* header section */
.header {
    width: 100vw;
    height: 3vh;
    padding: 16px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    z-index: 100;
    background-color: transparent;
    font-size: 18px;
}

.header img {
    height: 8vh;
}

.navbar-web {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
}

.navbar-web a {
    text-decoration: none;
    color: var(--font-color-1);
    font-weight: bold;
}

.navbar-web .join {
    background-color: var(--bg-color-2);
    border-radius: 1rem;
    width: 96px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4.8px;
}

/* hamburger menu */
.menu-btn,
.menu-icon {
    display: none;
}

/* home section */
.home {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.home .hero-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    z-index: -5;
}

.home .hero-img img {
    width: 100%;
}

/* hero section */
.hero {
    width: 80%;
    position: relative;
    margin: 120px auto;
    color: var(--font-color-1);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
}

.hero h1 {
    font-size: 80px;
    line-height: 80px;
    text-shadow: 2px 2px var(--font-color-3);
}

.hero p {
    background-color: var(--bg-color-6);
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 0 10px;
    text-align: left;
    width: 95%;
    margin-top: 4px;
}

.hero button {
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 4px;
    margin-top: 5px;
}

.hero-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.hero .button-1 {
    color: var(--font-color-1);
    font-size: 20px;
    background-color: var(--bg-color-3);
    border-style: none;
    text-shadow: 1.5px 1.5px var(--font-color-3);
    cursor: pointer;
    transition: 0.3s ease;
}

.hero .button-2 {
    color: var(--font-color-1);
    font-size: 20px;
    background-color: var(--bg-color-3);
    border-style: none;
    cursor: pointer;
}

.hero .button-3 {
    color: var(--font-color-1);
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid var(--border-color-1);
    margin-left: 32px;
    cursor: pointer;
}

/* hover effects for buttons */
.button-1:hover, .button-2:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
.button-3:hover {
    background-color: #003f7f;
}

.button-1:active, .button-2:active, .button-3:active {
    background-color: #003f7f;
}

/* home section styling */

.home-boxes {
    width: 100%;
    background-color: var(--bg-color-4);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem 0;
}

.home-boxes .box {
    background-color: var(--bg-color-1);
    width: 16%;
    height: 16vh;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 1rem;
}

.home-boxes .box h4 {
    color: var(--font-color-2);
    font-weight: bold;
    font-size: 1.6rem;
}

.home-boxes .box p {
    font-weight: bold;
    font-size: 1.4rem;
}

/* class section */

.our-classes{
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
    padding: 5vh 0;
}

.bg-color-classes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color-5);
    z-index: -100;
    clip-path: polygon(30% 0, 100% 0, 100% 100%, 50% 100%);
}

.our-classes hr {
    border: 3px solid var(--bg-color-2);
    border-radius: 5px;
    width: 5%;    
}


.class-start {
    width: 50%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.class-start p {
    margin: 24px 0;
    text-align: center;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    opacity: 60%;
    
}


.class-start h2 {
    font-size: 26px;
    color:var(--font-color-2);
    margin: 4vh 0 1vh 0;
    text-align: center;
}

.class-btn {
    padding: 3.2px 192px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

/* styling for buttons */

.class-btn button {
    position: relative;
    background-color: var(--bg-color-3);
    border: 1px solid var(--bg-color-3);
    color: var(--font-color-1);
    padding: 4px 16px;
    border-radius: 5px;
    font-size: 23px;
    cursor: pointer;
}

.class-btn button.selected {
    background-color: #ec9b00;
    color: #fff;
}

.class-btn button.selected::after{
    content: "";
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
}

.class-content {
    height: auto;
    width: 80%;
    margin: auto;
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding-top: 16px;
}

.class-text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 40%;
}

.class-text p, h4 {
    margin-top: 4vh;
}

.class-text h4 {
    font-size: 24;
    opacity: 70%;
    font-weight: 800;
}

.class-text p {
    font-size: 16px;
    opacity: 60%;
    font-weight: bold;
    word-spacing: 3.2px;
    line-height: 20px;
}

.class-img {
    margin-top: 32px;
    width: 25%;
}

/* styling for bmi */

.bmi-calculator {
    height: 55vh;
    width: 80%;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 112px;
    padding-top: 14vh;
}


